<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.UserMapper">

    <resultMap id="mymap" type="user">
        <id property="userId" column="user_id"></id>
        <result property="cardType" column="card_type"/>
        <result property="cardNo" column="card_no"/>
        <result property="userName" column="user_name"/>
        <result property="userSex" column="user_sex"/>
        <result property="userAge" column="user_age"/>
        <result property="userRole" column="user_role"/>
    </resultMap>

    <sql id="allColumns">
        user_id,card_type,card_no,user_name,user_sex,user_age,user_role
    </sql>

    <!--
        /user/selectUserPage?userName=z&userSex=男&page=null
        userName:表单中用户名称
        userSex:表单中用户性别
        page:提交的页码(第一次访问为null)
        有数据时：
        [{
        "userId":"15968954638794962",
        "cardType":"身份证","
        cardNo":"343343554654",
        "userName":"撒撒旦",
        "userSex":"女",
        "userAge":"29",
        "userRole":"生产、运输设备操作人员及有关人员"},
        {….}
        ]
        无数据时：
        []
    -->
    <select id="selectUserPage" resultMap="mymap">
        select <include refid="allColumns"></include> from user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>

            <if test="userSex != null and userSex != ''">
                and user_sex = #{userSex}
            </if>
        </where>
    </select>

    <!--
        url	/user/getRowCount?userName=z&userSex=男
        参数	userName:表单中用户名称
        userSex:表单中用户性别
        结果	有数据时:
        12
        无数据时:
        0
    -->
    <select id="getRowCount" resultType="int">
        select count(user_id) from user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>

            <if test="userSex != null and userSex != ''">
                and user_sex = #{userSex}
            </if>
        </where>
    </select>
</mapper>